---
layout: default
---

<style>
	#toc_container {
	    background: #f9f9f9 none repeat scroll 0 0;
	    border: 1px solid #aaa;
	    display: table;
	    font-size: 95%;
	    padding: 1rem;
	    width: auto;
	    padding-left: 0rem;
	}

	.toc_title {
	    font-weight: 700;
	    text-align: center;
	}

	#toc_container li, #toc_container ul, #toc_container ul li{
	    list-style: outside none none !important;
	}

	.circle {
		border-radius: 50%;
		height: 10rem;
		width: 10rem;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
	}

	.person {
		margin-top: 3rem;
		padding-bottom: 3rem;
	}

	.person table {
		width: 100%
	}

	.person table, tr, td {
		border: none;
		border-collapse: collapse;
		padding: 1rem;
		background: white !important;
	}

	.person-img {
		width: flex;
	}

</style>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>